.user-info {
  margin: 50px auto;
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;

  &__container {
    margin: 20px;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    color: $grey;

    & > * {
      margin: 10px;
    }
  }

  &__image {
    margin: 20px;
    border-radius: 20px;
  }

  &__name {
   font-style: 16px;
   text-transform: uppercase;
  }

  &__title {
    font-weight: bold;
  }
}

.home {
  display: block;
  margin: 50px;
}
